<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/userHome.css">
    <link rel="stylesheet" href="../css/titleCurrency.css">
    <link rel="stylesheet" href="../css/userPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- +0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/currency.css">
    <link rel="stylesheet" href="../css/formCard.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../script/countryList.js" defer></script>
    <script src="../script/currencyConverter.js" defer></script>
    <script src="../script/flImage.js" defer></script>
    <link rel="shortcut icon" href="../img/logo-transparente.png" type="image/x-icon">
    <title>Flamingle</title>
</head>

<body style="color: #0E2431;">
    <main class="cd-main d-block" style="height: 130vh;">
        <div class="profile-page d-flex justify-content-center align-items-center" style=" height: 130vh;">
          <div class="content">
              <div style="width: 100%;">
                  <div class="content-cover position-relative">
                    <div class=" mb-3 d-flex justify-content-center">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input  type="file" id="flImage" name="foto" accept="image/*" style="display: none;">
                            <img onclick="clickphoto()" name="photo" class="content-avatar" id="imgPhoto" src="<%= photo%>" alt="" >
                        </div>
                        </form>
                      <div class="content-bull"><span></span><span></span><span></span><span></span><span></span>
                      </div>
                    </div>
                    <div class="content-title">
                        <div class="accountname-container" style="margin-top: 130px;">
                            <h1><%= db_name%></h1>
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" id="configbtn" style="height: fit-content;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: var(--light-pink);"><path d="M12 16c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.084 0 2 .916 2 2s-.916 2-2 2-2-.916-2-2 .916-2 2-2z"></path><path d="m2.845 16.136 1 1.73c.531.917 1.809 1.261 2.73.73l.529-.306A8.1 8.1 0 0 0 9 19.402V20c0 1.103.897 2 2 2h2c1.103 0 2-.897 2-2v-.598a8.132 8.132 0 0 0 1.896-1.111l.529.306c.923.53 2.198.188 2.731-.731l.999-1.729a2.001 2.001 0 0 0-.731-2.732l-.505-.292a7.718 7.718 0 0 0 0-2.224l.505-.292a2.002 2.002 0 0 0 .731-2.732l-.999-1.729c-.531-.92-1.808-1.265-2.731-.732l-.529.306A8.1 8.1 0 0 0 15 4.598V4c0-1.103-.897-2-2-2h-2c-1.103 0-2 .897-2 2v.598a8.132 8.132 0 0 0-1.896 1.111l-.529-.306c-.924-.531-2.2-.187-2.731.732l-.999 1.729a2.001 2.001 0 0 0 .731 2.732l.505.292a7.683 7.683 0 0 0 0 2.223l-.505.292a2.003 2.003 0 0 0-.731 2.733zm3.326-2.758A5.703 5.703 0 0 1 6 12c0-.462.058-.926.17-1.378a.999.999 0 0 0-.47-1.108l-1.123-.65.998-1.729 1.145.662a.997.997 0 0 0 1.188-.142 6.071 6.071 0 0 1 2.384-1.399A1 1 0 0 0 11 5.3V4h2v1.3a1 1 0 0 0 .708.956 6.083 6.083 0 0 1 2.384 1.399.999.999 0 0 0 1.188.142l1.144-.661 1 1.729-1.124.649a1 1 0 0 0-.47 1.108c.112.452.17.916.17 1.378 0 .461-.058.925-.171 1.378a1 1 0 0 0 .471 1.108l1.123.649-.998 1.729-1.145-.661a.996.996 0 0 0-1.188.142 6.071 6.071 0 0 1-2.384 1.399A1 1 0 0 0 13 18.7l.002 1.3H11v-1.3a1 1 0 0 0-.708-.956 6.083 6.083 0 0 1-2.384-1.399.992.992 0 0 0-1.188-.141l-1.144.662-1-1.729 1.124-.651a1 1 0 0 0 .471-1.108z"></path></svg>
                            </a>
                        </div>
                        <span><%= cpf%></span>
                    </div>
                    <div class="content-description">
                        <p><%= email%></p>
                        <p><%= birth%></p >
                    </div>
                    <div class="buttons-views gap-3">
                        <a href="/userpagewallet" title="Wallet">
                            <div class="" id="balloon">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><circle cx="15.5" cy="13.5" r="2.5"></circle><path d="M12 13.5c0-.815.396-1.532 1-1.988A2.47 2.47 0 0 0 11.5 11a2.5 2.5 0 1 0 0 5 2.47 2.47 0 0 0 1.5-.512 2.486 2.486 0 0 1-1-1.988z"></path><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM4 18V6h16l.002 12H4z"></path></svg>
                        </a>
                        <a href="/userpageconvert" title="currentConvert">
                            <div class="" id="balloon">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="350" height="35" viewBox="0 0 24 24" style="fill: rgb(0, 0, 0, 1);"><path d="M12 6C7.03 6 2 7.546 2 10.5v4C2 17.454 7.03 19 12 19s10-1.546 10-4.5v-4C22 7.546 16.97 6 12 6zm-8 8.5v-1.197a9.989 9.989 0 0 0 2 .86v1.881c-1.312-.514-2-1.126-2-1.544zm12 .148v1.971c-.867.179-1.867.31-3 .358v-2a21.75 21.75 0 0 0 3-.329zm-5 2.33a18.788 18.788 0 0 1-3-.358v-1.971c.959.174 1.972.287 3 .33v1.999zm7-.934v-1.881a9.931 9.931 0 0 0 2-.86V14.5c0 .418-.687 1.03-2 1.544zM12 13c-5.177 0-8-1.651-8-2.5S6.823 8 12 8s8 1.651 8 2.5-2.823 2.5-8 2.5z"></path></svg>
                        </a>
                    </div>
                    <section id="currency" class="d-flex justify-content-center align-items-center"  >
                        <div id="wrapper" class="container fluid" style="width: 70%;">
                            <h2 style="font-size: 30px; font-weight: 600; text-align: center;">Conversor de Moedas</h2>
                            <form action="#" style="margin: 40px 0 20px 0;">
                                <div class="amount">
                                    <p>Insira o Valor</p>
                                    <input type="text" value="1">
                                </div>
                                <div class="drop-list">
                                    <div class="from">
                                        <p>De</p>
                                        <div id="select-box">
                                            <img src="https://flagsapi.com/BR/flat/64.png" alt="flag">
                                            <select>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="icon"><box-icon name='transfer-alt' ></box-icon></div>
                                    <div class="to">
                                        <p>Para</p>
                                        <div id="select-box-2">
                                            <img src="https://flagsapi.com/BR/flat/64.png" alt="flag">
                                            <select>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            <div class="exchange-rate">Convertendo...</div>   
                            <button>Converter</button>
                            </form>
                        </div>
                    </section>
             
                </div>
            </div>
            <div class="bg">
                <div><img src="../img/profilebg.png" style="width: 100%;">
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Informações</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-user" action="/userpageconvert" method="post">
                            <input id="number-input" type="text" name="name" maxlength="16" required >
                            <span class="label">Nome Completo</span>
            
                            <input id="useremail-input" type="email" name="email" required >
                            <span class="label">Email</span>
    
                            <input id="userphone-input" type="text" name="phone" required >
                            <span class="label">Telefone</span>
    
                            <input id="userpassword-input" type="password" name="password" required >
                            <span class="label">Senha</span>
    
                            <div class="agreements">
                              <div class="checkbox">
                                  <input type="checkbox" required>
                                  <label for="">Eu li e concordo com os <a href="">termos de uso</a> do site.</label>
                              </div>
                            </div>
                            <input type="submit" id="register-submitbtn" name="update" value="Atualizar">
                        </form>
                        <form action="/userpageconvert" method="post">
                            <input type="submit" id="delete-btn" name="delete" value="Excluir Conta">
                        </form>
                    </div>
                  </div>
                </div>
              </div>
    </main>
</body>

</html>